.social{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    border-top: 0.2rem solid var(--color-secondary);
}
.social h1{
    flex-basis: 100%;
    margin: 2rem;
}
.social a{
    position: relative;
    display: flex;
    color: var(--color-text);
    margin: auto;
    text-decoration: none;
    justify-content: center;
    transition: transform 1s;
}
.social a:hover{
    transform: translateY(-0.5rem);
}
.social a:visited{
    transform: translateY(-0.3rem);
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width:768px) and (max-width:1023px) {

}

@media screen and (min-width:200px) and (max-width:767px) {

}