@import url('http://fonts.cdnfonts.com/css/prometo-trial');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Prometo Trial';
    font-style: normal;
    src: local('Prometo Trial'), url('https://fonts.cdnfonts.com/s/83741/Prometo_Trial_Rg.woff') format('woff');
}

:root{
    --color-primary: #fff;
    --color-secondary: rgb(41, 100, 226);
    --color-text: #000;
    --color-shadow: 22, 22, 22;
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width=768px) and (max-width=1023px) {

}

@media screen and (min-width=200px) and (max-width=767px) {

}